In [206]:
import pandas as pd

In [207]:
df = pd.read_csv('/content/CAR DETAILS FROM CAR DEKHO.csv')

In [208]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [209]:
df.shape

(4340, 8)

In [210]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [211]:
df.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [212]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [213]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [214]:
df['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [215]:
df['seller_type'].value_counts()

seller_type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64

In [216]:
df['transmission'].value_counts()

transmission
Manual       3892
Automatic     448
Name: count, dtype: int64

In [217]:
df['owner'].value_counts()

owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

In [218]:
# Step 1: Create 'car_age' column
df['car_age'] = 2025 - df['year']

In [219]:
df.drop(['name', 'year'], axis=1, inplace=True)

In [220]:
# Step 3: Map 'owner' column to numbers
owner_mapping = {
    'First Owner': 1,
    'Second Owner': 2,
    'Third Owner': 3,
    'Fourth & Above Owner': 4,
    'Test Drive Car': 0
}
df['owner'] = df['owner'].map(owner_mapping)

In [221]:
df = pd.get_dummies(df, columns=["seller_type"], drop_first=False)

In [222]:
df = pd.get_dummies(df, columns=['fuel', 'transmission'], drop_first=True)

In [223]:
df.head()

,selling_price,km_driven,owner,car_age,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,transmission_Manual
0,60000,70000,1,18,False,True,False,False,False,False,True,True
1,135000,50000,1,18,False,True,False,False,False,False,True,True
2,600000,100000,1,13,False,True,False,True,False,False,False,True
3,250000,46000,1,8,False,True,False,False,False,False,True,True
4,450000,141000,2,11,False,True,False,True,False,False,False,True

In [224]:
import pandas as pd


# Compute correlation matrix
correlation_matrix = df.corr(numeric_only=True)

# Only look at correlation with 'selling_price'
selling_price_corr = correlation_matrix["selling_price"].sort_values(ascending=False)

# Print correlation values
print("Correlation of each feature with selling_price:\n")
print(selling_price_corr)

Correlation of each feature with selling_price:

selling_price                   1.000000
fuel_Diesel                     0.282947
seller_type_Dealer              0.205111
seller_type_Trustmark Dealer    0.110176
fuel_Electric                  -0.005095
fuel_LPG                       -0.042434
km_driven                      -0.192289
owner                          -0.228091
seller_type_Individual         -0.236798
fuel_Petrol                    -0.269453
car_age                        -0.413922
transmission_Manual            -0.530205
Name: selling_price, dtype: float64

In [257]:
df.columns

Index(['selling_price', 'km_driven', 'owner', 'car_age', 'seller_type_Dealer',
       'seller_type_Individual', 'seller_type_Trustmark Dealer', 'fuel_Diesel',
       'fuel_Electric', 'fuel_LPG', 'fuel_Petrol', 'transmission_Manual'],
      dtype='object')

In [258]:
X = df[['km_driven', 'owner', 'car_age', 'seller_type_Dealer',
       'seller_type_Individual', 'seller_type_Trustmark Dealer', 'fuel_Diesel',
       'fuel_Electric', 'fuel_LPG', 'fuel_Petrol', 'transmission_Manual']]
y = df['selling_price']

In [260]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [261]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y , test_size=0.2, random_state=42)

In [262]:
X_train

,km_driven,owner,car_age,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,transmission_Manual
227,20000,1,8,False,True,False,True,False,False,False,True
964,50000,1,7,False,True,False,True,False,False,False,True
2045,25000,2,12,False,True,False,False,False,False,True,True
1025,70000,1,14,False,True,False,True,False,False,False,True
4242,72000,1,8,True,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
3444,50000,1,19,False,True,False,True,False,False,False,True
466,80000,1,14,False,True,False,True,False,False,False,True
3092,51000,1,9,True,False,False,True,False,False,False,True
3772,80000,1,12,False,True,False,True,False,False,False,True
860,80000,1,12,False,True,False,False,False,False,True,True

In [263]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [264]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import numpy as np

def evaluate_model(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"Model: {model.__class__.__name__}")
    print(f"Mean Squared Error (MSE): {mse}")
    print(f"Root Mean Squared Error (RMSE): {rmse}")
    print(f"Mean Absolute Error (MAE): {mae}")
    print(f"R² Score: {r2}")
    print("-" * 40)

In [265]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor

# Try models one by one
evaluate_model(LinearRegression(), X_train_scaled, X_test_scaled, y_train, y_test)
evaluate_model(RandomForestRegressor(n_estimators=500,random_state=42), X_train_scaled, X_test_scaled, y_train, y_test)
evaluate_model(GradientBoostingRegressor(random_state=42), X_train_scaled, X_test_scaled, y_train, y_test)
evaluate_model(DecisionTreeRegressor(random_state=42), X_train_scaled, X_test_scaled, y_train, y_test)

Model: LinearRegression
Mean Squared Error (MSE): 182550152247.40878
Root Mean Squared Error (RMSE): 427258.88199943694
Mean Absolute Error (MAE): 222070.21535619674
R² Score: 0.4018088897526899
----------------------------------------
Model: RandomForestRegressor
Mean Squared Error (MSE): 152433150884.96106
Root Mean Squared Error (RMSE): 390426.88289225305
Mean Absolute Error (MAE): 168605.24044989262
R² Score: 0.5004980568693833
----------------------------------------
Model: GradientBoostingRegressor
Mean Squared Error (MSE): 158694103777.18073
Root Mean Squared Error (RMSE): 398364.2852681208
Mean Absolute Error (MAE): 175358.99355192407
R² Score: 0.47998179700493204
----------------------------------------
Model: DecisionTreeRegressor
Mean Squared Error (MSE): 192933375348.0502
Root Mean Squared Error (RMSE): 439241.8187605208
Mean Absolute Error (MAE): 179773.17335526098
R² Score: 0.36778453163492575
----------------------------------------